[submodule "thirdparty/json11"]
	path = thirdparty/json11
	url = https://github.com/dropbox/json11
[submodule "thirdparty/websocketpp"]
	path = thirdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
